<head>
<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>PROFILE</h1> 

<h2>Welcome </h2>
<h2>Users Name List</h2><br>
<% for(let i=0; i < data.length; i++) { %>
    <li><%= data[i].name %></li> 
<% } %>
<br><br>
<li><a href="/logout">Logout</a></li> 
</body>